<!DOCTYPE html>
<html>

<head>
    <title>Got Cookies?</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">

</head>

<header>
    <a href="/" class="title">
        <h3>Doughversity</h3>
    </a>
    <a href="/about" class="title">
        <h3>About Us</h3>
    </a>
</header>

<body>

    {% block content %}
    {% endblock %}

    <div class="bgblob blob-small"></div>
    <div class="bgblob blob-small2"></div>

    <div class="background-image">
        <img src="/static/images/cookie.png" />
    </div>
</body>

</html>